-----------------------------ng switch case-----------------------------
click event with switch case (particular div open on click event)
define variable  selection

<input type="hidden" #selection>
                                 \
<div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre> --->  
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
      <pre *ngSwitchCase="'name'"><app-test></app-test></pre>
  </div>


  <div class ="card card-small" (click)="selection.value='name'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>What is your name</span>

    </div>
    <div class ="card card-small" (click)="selection.value='test'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>What is your name</span>
  
      </div>
  
-----------------------------------------------------------------------------------------
2. use selector as class
        @Component({
            selector: '.app-test',
            templateUrl: './test.component.html',
            styleUrls: ['./test.component.css']
        })

      #change   ->      <pre *ngSwitchCase="'name'"><app-test></app-test></pre>
       #to      ->       <pre *ngSwitchCase="'name'" class="app-test"></pre>

3. use as a attribute 
-----------------------------------------------------------------------------------------
     
            @Component({
                selector: '[app-test]',
                template: `</div>
                            hello</div>`, -> #we can use htl content instead of file  chnage templeteUrl to template
                style: [`
                            div{
                                color:red;
                            }
                     `]
            })

            #change   ->      <pre *ngSwitchCase="'name'"><app-test></app-test></pre>
            #to      ->       <pre *ngSwitchCase="'name'" app-test></pre>


-------------------------------------------------------------------------------------------

4 .interploation:
       use to render data from class
       use to evauation expression
       use to javascript ethod eg {{name.length}}
       use to call method;

       assignnement not possible {{a=2+2}}->give binding error
       not aware about global javascript variable

5. property binding 
-----------------------------------------------------------------------------------
       attribute defined by html but property by dom,they are not same

       public id="myid";
       public id=true;

       (property binding) <input type="text" [id]="id"> or (intrepolation) <input type="text" id={{id}}

       so why interpoltion?? it work only for string

         <input type="button" disabled={{flag}}>
         <input type="button" [disabled]="flag"> or  <input type="button" bind-disabled="flag"> 

6. ngfor
---------------------------------------------------------------------------
        <ul>
            <li *ngFor="let item of items; let i = index">
            {{i}} {{item}}
            </li>
        </ul>

        <option *ngFor="let i of months">{{i}}</option>

7 ngif
------------------------------------------------------------------------------------
<span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
<ng-template #condition1>Condition is valid</ng-template>
<ng-template #condition2>Condition is invalid</ng-template>

             ng-template is an Angular element used to render HTML templates
  eg.
  <li *ngFor="let item of userlist;let i=index">
        {{item}} --- {{age[i]}} -----
       
                <span *ngIf="age[i]>20;then valid else invalid"></span>
                <ng-template #valid>elgible for vote</ng-template>
                <ng-template #invalid>not elgible for vote</ng-template>
        </li>
8.click event
------------------------------------------------------------------------------------------
  show and hidden on button click

    <select (change)="userchange($event)" [hidden]="isDisabled">
        <option *ngFor="let item of userlist">{{item}}</option>
    </select>
    
    <button (click)="toggle()">click me</button>

     isDisabled=false;
    public userchange(event){
        console.log(event.target.value);
        alert("selected user is"+ event.target.value);
      }
      public toggle(){
        this.isDisabled=!this.isDisabled;
      }

9. classs binding
    --------------------------------------------------------------------------------------------------        
        .css classs
        .show{
          color:red !important;
        }

        .ts class
        public color="show";
        isDisabled=true;

        .html
        <p [class]="color">helllo</p>
        <p [class]="color" class="anotherclass">helllo</p> ->class binding has high priority
    

        condtionaly apply class on the basis of flag

        <p [class.show]="isDisabled">helllo</p>

----------------------------------------------------------------------------------------------
10.ng-class
---------------------------------------------------------------------------------------
     The ng-class directive dynamically binds one or more CSS classes to an HTML element.
     The value of the ng-class directive can be a string, an object, or an array.
     The NgClass directive allows you to set the CSS class dynamically for a DOM element.


    .ts

    public danger=true;
    public normal=true;
    public italic=true;
    message={
  
       "normal":!this.normal,
       "danger":this.danger,
       "italic":this.italic
    }

  .html

  <p [ngClass]="message">login passed</p>

   .css

   .danger{
    color:red !important;
      }
      .normal{
          color:green !important;

      }
      .italic{
        font-style:italic;
}


<div [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }"></<div>
alternative of ngStyle
<li [style.color]="getColor(person.country)">{{ person.name }} ({{ person.country }})


  eg.

  <li *ngFor="let item of userlist;let i=index" [ngStyle]="{'color':age[i]>18? 'green':'red'}">
    {{item}} --- {{age[i]}} -----
   
            <span *ngIf="age[i]>20;then valid else invalid"></span>
            <ng-template #valid>elgible for vote</ng-template>
            <ng-template #invalid>not elgible for vote</ng-template>
    </li>
    <button (click)="greeting=hello"></button>
    {{greeting}}
    <button (click)="isDisabled=!isDisabled">click</button>

---------------------------------------------------------------------------------------------
11 .get data from template to class
  #var called html template variable

  <input type="text" #input><button (click)=getlog(input.value)>log</button>

          getlog(value)
          {
            alert(value);
          }
--------------------------------------------------------------------------------------------

13 .2 whay binding
      input type=text nam=username;
      input type=text nam=password;
   

      public username;
      public password;

      whenever i change in html chnge refect in class or vice versa called 2 way binding.

      **Data binding in AngularJS is the synchronization between the model and the view. When data in the model changes, the view reflects the change, and when data in the view changes, the model is updated as well.

      import { FormsModule } from '@angular/forms';
      imports: [
      BrowserModule,
      AppRoutingModule,
      FormsModule
    ],
     add or import beacuse angular not aware about it is separarte module.

     <input type="text" [(ngModel)]="name"/>
        {{name}}
  --------------------------------------------------------------------------------------------------
14. component interaction

    parent component can send data to chil cmponent or vice versa using @input and @output decorator

    parent
    |
    | can take data as @input()
    |
    child
    |
    |  send output as @output()
    |
    parent

15. dynmically change age and color
here ngmodel age[0] like . if age[0] change in html it also reflect in class.array having index is 0
----------------------------------------------------------------------------------------------
<ul>
  <li *ngFor="let row of userlist;let i=index" [ngStyle]="{'color':age[i]>18?'green':'red'}">
          {{row}}---{{age[i]}}--<input type="text" [(ngModel)]="age[i]" value="{{age[i]}}"/>
  </li>
</ul>
<input type="text" [(ngModel)]="name"/>
<input type="number" [(ngModel)]="age1"/>

<button (click)="adduser()">add user</button>


   public name="";
    public age1=0;
    public adduser(){
      this.userlist.push(this.name);
      this.age.push(this.age1);
      this.name="";
      this.age1=0;
    }


15.
pipes
---------------------------------------------------------------------------
used to transform data before displaying in view

name="abhihek"
in html->{{name | lowercase}}
{{name | reverse}}
{{name | slice:3}} =>ihek
{{name | slice:3:5}} (startwith,limit)

public person={
  name : "abhishek", ===>  {{person | json}}==> "display in json format"
  age:18
}                          

{{123.23 | number :1.2-3 }}

{minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}.

minIntegerDigits: The minimum number of integer digits before the decimal point. Default is 1.
minFractionDigits: The minimum number of digits after the decimal point. Default is 0.
maxFractionDigits: The maximum number of digits after the decimal point. Default is 3.


{{25 | percent}}
{{25 | currency}}default is usdoller
{{25 | currency : 'INR'}}
{{date}}
more about===>https://angular.io/api/common/DatePipe